.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 100;
    box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
    background: url('./bgWhite.png');
    background-color: #ffffff;
    background-size: cover;
    background-repeat: repeat;
}

.navList {
    padding: 0;
    position: relative;
    top: 100px;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navList li {
    list-style: none;
    cursor: pointer;
    line-height: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navList li > * {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    transition: .4s all ease-in-out;
    cursor: pointer;
    line-height: 3;
    padding: 0 25px;
}

.navList li:hover > * {
    color: #ffffff;
}

.navButton {
    background-color: #ffffff;
    z-index: 101;
    position: fixed;
    outline: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

